// font sizes
$menu--font-size: 16px;
$headings-font--size: 24px;
$table-header--font-size: 12px;
$table-strong-cell--font-size: 16px;
$table-cell--font-size: 14px;

// font colors
$menu--font-color: #ffffff;
$headings--font-color: #182c62;
$table--font-color: #4b5c68;
$footer--font-color: #4b5c68;

// background colors
$header--bg-color: #025feb;
$table-header--bg-color: #e4edf2;
$table-even-rows--bg-color: #f6f7f7;
$table-odd-rows--bg-color: #ffffff;
$footer--bg-color: #f6f7f7;
